.container {
    border: solid;
    width: 50vw;
    height: 10vh;
}

.display {
    color: red;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}