<p>star-wars works!</p>
<nav>
    <ul>
        <li><a routerLink="/characters" routerLinkActive="active" ariaCurrentWhenActive="page">Characters</a></li>
        <li><a routerLink="/starships" routerLinkActive="active" ariaCurrentWhenActive="page">Starships</a></li>
        <li><a routerLink="/films" routerLinkActive="active" ariaCurrentWhenActive="page">Films</a></li>
        <li><a routerLink="/vehicles" routerLinkActive="active" ariaCurrentWhenActive="page">Vehicles</a></li>
        <li><a routerLink="/species" routerLinkActive="active" ariaCurrentWhenActive="page">Species</a></li>
    </ul>
</nav>
  