@import (reference) "../../styles.less";

:host {
    .component
}

span {
    margin: 0 15px 0 0; //same as margin-right
    
    input {
        margin: 0 0 0 5px; //same as margin-left
    }
}

span.result > div {
    background-color: #e7e1e1;
    height: 18px;
    min-width: 177px;
    margin: 0 0 0 5px; //same as margin-left
}

.result {
    display: inline-flex;
}

#year {
    width: 55px;
}
