<!-- <app-icon-button icon="camera_roll" label="FILMS" href="/films"></app-icon-button>
<app-icon-button icon="person" label="CHARACTERS" href="/characters"></app-icon-button>
<app-icon-button icon="flight" label="STARSHIPS" href="/starships"></app-icon-button>
<app-icon-button icon="airport_shuttle" label="VEHICLES" href="/automobile"></app-icon-button>
<app-icon-button icon="content_paste_search" label="SEARCH DB" href="/search"></app-icon-button>
<mat-spinner *ngIf="loading"></mat-spinner> -->

<h1>{{ appTitle }}</h1>
<nav>
  <ul>
    <li><a routerLink="/characters" routerLinkActive="active" ariaCurrentWhenActive="page">Characters</a></li>
    <li><a routerLink="/starships" routerLinkActive="active" ariaCurrentWhenActive="page">Starships</a></li>
    <li><a routerLink="/films" routerLinkActive="active" ariaCurrentWhenActive="page">Films</a></li>
    <li><a routerLink="/vehicles" routerLinkActive="active" ariaCurrentWhenActive="page">Vehicles</a></li>
    <li><a routerLink="/species" routerLinkActive="active" ariaCurrentWhenActive="page">Species</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet />
