<p>films works!</p>
@if (isLoading) {
    <app-loader></app-loader>
}
<ul>
    @for (film of films$ | async; track film.title) {
        <!-- onItemClick passes actual object from the view to the model. -->
        <li (click)="onItemClick(film)">{{ film.title }}</li>
    }
</ul>
<!-- Items clicked in child component <app-film-details> will appear here. -->
@if (details) {
    <div>clicked {{ details.key }}: {{ details. value }}</div>
}
<!-- This example implements the film-details component instead of routing to it. -->
<app-film-details [details$]="filmDetails$" (filmDetailsClickedEvent)="filmDetailsClicked($event)"></app-film-details>

<!-- @if (filmDetails) {
    <p>films-details works!</p>
    <ul>
        @for (item of filmDetails | keyvalue; track $index) {
            <li>{{ item.key }}: {{ item.value }}</li>
        }
    </ul>
} -->
